NODE_ENV=production
PORT=5001

# Base API của Locket (reverse / private API)
LOCKET_API_BASE=https://api.locketcamera.com

# ================== FIREBASE ==================

# API Key Firebase (Auth, AppCheck, Identity Toolkit)
FIREBASE_API_KEY=AIzaSyCQngaaXQIfJaH0aS2l7REgIjD7nL431So

# Firebase Authentication (Identity Toolkit API)
FIREBASE_AUTH_API_BASE=https://www.googleapis.com/identitytoolkit/v3/relyingparty

# Firebase Firestore REST API base
FIREBASE_FIRESTORE_API_BASE=https://firestore.googleapis.com/v1/projects/locket-4252a/databases

# Firebase App Check API
FIREBASE_APPCHECK_API_BASE=https://firebaseappcheck.googleapis.com

# Firebase Secure Token API
FIREBASE_SECURETOKEN_API_BASE=https://securetoken.googleapis.com

FIRESTORE_DEFAULT=https://firestore.googleapis.com/v1/projects/locket-4252a/databases/(default)/documents/users/

# Storage
STORAGE_API_URL=https://locket-storage-one.vercel.app

# Admin
ADMIN_SECRET_KEY=admin123