@import "tailwindcss";
@plugin "daisyui";

@layer base {
  :root {
    --primary: #fbbf24; /* Vàng Locket */
    --primary-content: #000000;
  }

  body {
    @apply bg-base-300 text-base-content min-h-screen;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}

@theme {
  --color-locket-yellow: #fbbf24;
}
